<div style="margin: auto;">
  <%= form_for :user, url: {action: "create"} do |f| %>
    <div style="display: flex">
      <%= f.text_field :name %><br />
      <%= f.submit "ネットボット" %>
    </div>
  <% end %>
</div>
