// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-container {
  display: grid;
  grid-template-columns: 25% auto;
  height: 94vh;
  padding: 3vh;
}

.sidebar {
  color: white;
  overflow-y: auto;
  background-color: rgba(black, 0.23);

  .console {
    grid-row: 1;
    height: 50%;
    margin: 5%;
  }

  .program-info {
    grid-row: 2;
    margin: 5%;

  }
}

p { 
  padding: 0;
  margin: 0;
}

.game {
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.4);

  .grid {
    display: grid;
    grid-gap: 1vh;

    .tile {
      display: flex;
      height: 5vh;
      width: 5vh;
      background-color: white;
      justify-content: center;
      align-items: center;
      opacity: 0.7;
    }
  }
}
